*{
    font-family: montserrat, sans-serif;
}

body{
    margin: 0;
}

header{
    background-color: black;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-text{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.logo-yfitness{
    height: 100px;
    margin-top: 1.5%;
    
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

a:hover{
    color: #23b2a4;
}

.section1{
    display: flex;
    height: 100vh;
    width: auto;
    background-image: url('./assets/Fond\ page\ d\'acceuil.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.texte{
    display: flex;
    margin-left: 70px;
    margin-top: 80px;
    font-size:100px;
    width: 600px;
    color: white;
    font-weight: bold;
}

.section2{
    height: 100vh;
    border: 5px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-cible{
   height: 500px;
}

