*{
    font-family: montserrat, sans-serif;
}

body{
    margin: 0;
    background-color: #F0F0F2;
}

/*---------------------Page d'acceuil---------------------*/

header{
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: black;
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
}

.container-button{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.logo-yfitness{
    height: 70px;
    margin-top: 1%;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

a:hover{
    color: #23b2a4;
}

.section1-acceuil{
    display: flex;
    height: 100vh;
    background-image: url("./assets/page_acceuil.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 8vh;
}

.texte{
    position: relative;
    top: 20vh;
    left: 9vw;
    font-size: 75px;
    color: white;
    font-weight: bold;
}

.section2-acceuil{
    background-color: black;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1-blanc{
    color: white;
    font-size: 36px;
}

.text-mission{
    position: relative;
    bottom: 0.5cm;
    color: white;
    line-height: 5vh;
    font-size: 20px;
    text-align: center;
    width: 50%;
}

.section3-acceuil{
    background-color: black;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-programmes{
    height: 60vh;
    width: 80%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.programme{
    height: 90%;
    width: 30%;
    margin: 0 3%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    transition: all 0.5s ease;
}

.programme::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px; 
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    opacity: 0; 
    transition: all 0.5s ease;
}

.programme:hover::before{
    opacity: 0.8;
}


.debutant{
    background: url("./assets/débutant.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
}

.intermediaire{
    background: url("./assets/intermédiaire.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
}

.confirme{
    background: url("./assets/confirmé.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;  
}

.tittle-programme{
    color: white;
    font-size: 2vw;
    position: relative;
    top: 26%;
    transform: translateY(150%);
    transition: all 0.5s ease;
}

.text-programme{
    color: white;
    font-size: 1vw;
    font-weight: normal;
    transform: translateY(230%) ;
    transition: all 0.5s ease;
    opacity: 0;
    padding-left: 5%;
    padding-right: 5%;
}

.programme:hover .tittle-programme{
    opacity: 1;
    transform: translateY(0%);
}

.programme:hover{
    transform: scale(1.1);
}

.programme:hover .text-programme{
    transform: translateY(100%);
    opacity: 1;
}

/*---------------------Débutant---------------------*/

.section1-programmes{
    width: 100%;
    height: 100vh;
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5) url('./assets/bg-programme.jpeg') no-repeat center center/cover;
    background-blend-mode: darken;
}

.h1-noir{
    color: black;
    font-size: 36px;
    padding-bottom: 50px;
    position: relative;
    top: 50px;
}

.introduction-programme{
    position: relative;
    bottom: 0.6cm;
    display: flex;
    color: white;
    line-height: 5vh;
    font-size: 20px;
    text-align: center;
    width: 50%;
}

.section2-debutant{
    background: black;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-exos-conseils{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.container-exos{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 150px;
}

.container-conseils{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 200px;
}


.text-exos{
    color: white;
    font-size: 20px;
    margin: 5px;
}

.text-serie{
    color: #23b2a4;
    font-size: 15px;
    text-align: center;
    width: 50%;
}

.text-conseils{
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 5vh;
}

.container-buttons{
    height: 60px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: #23b2a4;
    border: 2px solid #23b2a4;
    border-radius: 50px;
    background-color: black;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.buttons:hover{
    color: white;
    border: 2px solid #ffffff;
}

.underline {
    width: 90px;
    height: 3px;
    margin: 0 auto 0 auto;
    padding-top: 30px;
    border-bottom: 2px solid #23b2a4;
    overflow:hidden;
}

em{
    font-style: normal;
    color: #23b2a4;
    font-weight: bold;
}

/*---------------------Intermédiaire---------------------*/

.ctn-exos-intermediaire{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.ctn-push-pull-legs{
    border: 1px solid white;
    width: 30%;
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2px;
    font-size: 18px;
}

h2{
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    position: relative;

}

.exos-intermediaire{
    color: white;
}

.serie-intermediaire{
    color: #23b2a4;
}

.section3-intermediaire{
    background-color: black;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.ctn-conseils-intermediaire{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 10px;
}

/*---------------------Nutrition---------------------*/

.fond-nutri{
    width: 100%;
    height: 100vh;
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9) url('./assets/nutri.jpg') no-repeat center center/cover;
    background-blend-mode: darken;
}

.intro-nutri{
    display: flex;
    position: relative;
    color: white;
    line-height: 5vh;
    font-size: 20px;
    text-align: center;
    width: 50%;
    border-top: 2px solid #23b2a4;
    padding-top: 40px;
}

.back-nutri{
    width: 100%;
    height: 160vh;
    background-color: black;
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-blend-mode: darken;
}

.infos-nutri{
    display: flex;
    position: relative;
    color: white;
    line-height: 5vh;
    font-size: 20px;
    text-align: center;
    width: 50%;
    border-top: 2px solid #23b2a4;
    padding-top: 40px;
}

.infos-nutri2{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    color: white;
    line-height: 5vh;
    font-size: 20px;
    text-align: center;
    width: 50%;
}
.infos-nutri3{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    color: white;
    line-height: 5vh;
    font-size: 20px;
    text-align: center;
    width: 50%;
    margin-top: -3px;
}

.button-nutri{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 50px;
    color: #23b2a4;
    border: 2px solid #23b2a4;
    border-radius: 70px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top: 50px;
}

.button-nutri:hover{
    transform: translateY(20%);
    opacity: 1;
}

.back-protéines{
    width: 100%;
    height: 135vh;
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.85) url('./assets/viandes.jpg') no-repeat center center/cover;
    background-blend-mode: darken;
}

.back-lipides{
    width: 100%;
    height: 120vh;
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.85) url('./assets/lipides.jpg') no-repeat center center/cover;
    background-blend-mode: darken;
}

.back-fibres{
    width: 100%;
    height: 155vh;
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.85) url('./assets/fibres.jpg') no-repeat center center/cover;
    background-blend-mode: darken;
}

/*---------------------Conseils---------------------*/

.conseils-back{
    width: 100%;
    height: 100vh;
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9) url('./assets/conseils.jpg') no-repeat center center/cover;
    background-blend-mode: darken;
}

.choix-conseils{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.choix{
    height: 50vh;
    width: 79%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.conseils-button{
    height: 380px;
    width: 380px;
    margin: 0 3%;
    border-radius: 190px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    transition: all 0.5s ease;
}

.conseils-button::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px; 
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    opacity: 0; 
    transition: all 0.5s ease;
}

.conseils-button:hover::before{
    opacity: 0.8;
}

.tittle-conseils{
    color: #ffffff;
    font-size: 2vw;
    position: relative;
    top: 20%;
    transform: translateY(150%);
    transition: all 0.5s ease;
    z-index: 99;
}

.exo{
    background: url("./assets/choix1.jpg");
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
}

.nutri{
    background: url("./assets/nutriment.jpg");
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
}

.conseils-button:hover .tittle-programme{
    transform: translateY(0%);
}

.conseils-button:hover{
    transform: scale(1.05);
}

.conseils-button:hover .text-programme{
    transform: translateY(80%);
}

.exercices-back{
    background-color: rgb(213, 213, 213);
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-conseils{
    display: flex;
    position: relative;
    color: rgb(0, 0, 0);
    line-height: 5vh;
    font-size: 20px;
    text-align: center;
    width: 50%;
    border-top: 2px solid #23b2a4;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.intro-conseils2{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    color: rgb(0, 0, 0);
    line-height: 5vh;
    font-size: 20px;
    text-align: center;
    width: 50%;
}

.nutriment-back{
    background-color: rgb(213, 213, 213);
    height: 210vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 1200px){
    .container-programmes{
        height: 90%;
        flex-wrap: wrap;
    }
    .section3-acceuil{
        height: 150vh;
    }
    .programme{
        height: 30%;
        width: 100%;
    }
    .text-mission{
        padding-bottom: 300px;
        width: 75%;
        height: 70%;
    }
    .tittle-programme{
        font-size: 35px;  
    }
    .programme:hover .tittle-programme{
        transform: translateY(-10%);
    }
    .text-programme{
        font-size: 15px; 
    }
    .programme:hover .text-programme{
        transform: translateY(90%);
    }
   
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .programme:hover .text-programme{
        transform: translateY(150%);
    }
}

@media (max-width: 1485px){
    .introduction-programme{
        width: 75%;
    }
    .section2-debutant{
        height: 185vh;
    }
    .container-exos-conseils{
        flex-wrap: wrap;
    }
    .container-exos{
        width: 90%;
        padding-left: 0;
    }
    .container-conseils{
        padding-right: 0;
    }
    .text-conseils{
        width: 170%;
    }
}

@media (max-width:580px){
    .text-exos{
        font-size: 15px;
    }
    .section1-programmes{
        height: 120vh;
    }
    .text-conseils{
        font-size: 15px;
    }
    .container-buttons{
        width: 170%;
    }
    .h1-blanc{
        text-align: center;
        padding-top: 100px;
    }
    .h1-noir{
        text-align: center;
        padding-top: 100px;
    }
    .exos-intermediaire{
        font-size: 15px;
    }


    .infos-nutri{
        width: 80%;
        font-size: 15px;
    }
    .infos-nutri2{
        width: 80%;
        font-size: 15px;
    }
    .infos-nutri3{
        width: 80%;
        font-size: 15px;
    }
    .intro-nutri{
        width: 80%;
        font-size: 15px;
    }

    .intro-conseils{
        font-size: 15px;
    }
    .intro-conseils2{
        font-size: 15px;
    }
    .nutriment-back{
        height: 260vh;
    }

    .exercices-back{
        height: 200vh;
    }
}

@media (max-width:1525px){
    .page-inter{
        height: 235vh;
    }
    .ctn-exos-intermediaire{
        flex-wrap: wrap;
    }
    .ctn-push-pull-legs{
        height: 550px;
        width: 100%;
    }
    .page-confirme{
        height: 130vh;
        padding-top: 200px;
    }
}

@media (max-width:1200px){
    .fond-nutri{
        height: 130vh;
    }
    .back-nutri{
        height: 230vh;
    }
    .back-protéines{
        height: 150vh;
    }
    .back-lipides{
        height: 150vh;
    }
    .back-fibres{
        height: 200vh;
    }
    .intro-conseils{
        width: 80%;
    }
    .intro-conseils2{
        width: 80%;
    }
    .intro-nutri{
        width: 80%;
    }

    .choix{
        flex-wrap: wrap;
        height: 70vh;
    }
    .conseils-button{
        height: 250px;
        width: 100%;
        border-radius: 100px;
    }
    .tittle-conseils{
        font-size: 25px;
    }
    .conseils-back{
        height: 110vh;
    }
}

@media (max-width:780px){
    .infos-nutri{
        width: 80%;
    }
    .infos-nutri2{
        width: 80%;
    }
    .infos-nutri3{
        width: 80%;
    }
    .intro-nutri{
        width: 80%;
    }
}

@media (max-width:420px){
    .nutriment-back{
        height: 300vh;
    }

    .exercices-back{
        height: 220vh;
    }
    .conseils-back{
        height: 120vh;
    }
}

.more .btn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    font-weight: bold;
}

.more-menu {
    display: none;
    position: absolute;
    background-color: black;
    
}

.more-menu a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

.more:hover .more-menu {
    display: block;
}

.more{
    display: none;
}

@media(max-width:1000px){
    .container-button{
        display: none;
    }
    .more{
        display: block;
    }
}









